<?xml version="1.0" encoding="UTF-8"?>
<beans xmln="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="toby.spring.spring.service.UserService">
        <property name="userDao" ref="userDao" />
    </bean>

    <bean id="userDao" class="toby.spring.spring.dao.UserDaoJdbc">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="jdbcContext" class="toby.spring.spring.dao.JdbcContext">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://172.19.234.119/toby_spring"></property>
        <property name="username" value="root"></property>
        <property name="password" value="password"></property>
    </bean>
</beans>